.botonsito {
    display: flex;
    margin-left: auto;
    padding: 50px 50px;
}

/* Estilos CSS */
.bi.bi-eye.cerrado::before {
    content: "\e85f"; /* Ícono de ojo cerrado */
}



.botonAgregar {
    border: 1px solid #b90505;
    margin-right: 20px;
    background-color: white;
    color: #b90505;
    border-radius: 50px;
    height: 40px;
    width: 120px;
    font-size: 18px;
}

.descargar {
    margin-left: 100px;
    height: 50px;
    width: 55px;
    margin-top: 5px;
}



.rojo:hover {
    background: #b9050517;
}

.rojo:active {
    box-shadow: 1px 1px 1px 1px #b9050517;
}

.BotonesClientes {
    display: flex;
    justify-content: center;

    margin-top: 10px;

}

.BotonesClientes button {
    height: 45px;
    width: 100px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 10px;
    border: none;

}

.RegistrarCliente {
    background-color: #1F67B9;
    color: #ffffff;
}



.divFiltro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.vinotinto {
    background: #48110d;
    color: white;
    height: 40px;
    width: 50px;

    /* Establece el fondo del botón como transparente */
    border: none;
    /* Elimina el borde del botón */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el botón */

    border-radius: 100px;
}

.vinotinto:hover {
    background: #771d17;
}

.vinotinto:active {
    box-shadow: 1px 1px 1px 1px #771d17;
}



.azulado {
    background-color: #1F67B9;
    color: #ffffff;

}

.botonRojo {
    background-color: #E12424;
    color: white;
    height: 50px;
    width: 180px;
    margin-left: 20%;
    margin-bottom: 20px;
}

.botonMorado {
    background-color: #722F37;
    color: white;
    height: 50px;
    width: 180px;
    margin-left: 20%;
    margin-bottom: 20px;
}

.checkbox {
    margin-right: 10px;
}

.botones {

    margin-left: 87vh;


    margin-bottom: -90px;
}

.cajaBotones {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.azulado3 {
    background: #1F67B9;
    color: white;
    height: 45px;
    max-width: 120px;
    min-width: 120px;
    display: flex;
    text-align: center;

}

.inputIdNombre {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-between;

}

.espacio {
    width: 40px;
}

.espacio2 {
    width: 1px;
}

.input2 {
    padding: 15px;
    border-radius: 5px;
    width: 160px;
    padding: 10px;
    border: 1px solid #ccc;
}

.inputstock {
    padding: 15px;
    border-radius: 5px;
    width: 100px;
    padding: 10px;
    border: 1px solid #ccc;
}

.inputnombre {
    padding: 15px;
    border-radius: 5px;
    width: 220px;
    padding: 10px;
    border: 1px solid #ccc;
}

.inputnombreeditado {
    padding: 15px;
    border-radius: 5px;
    width: 360px;
    padding: 10px;
    border: 1px solid #ccc;
}

#titulo {
    font-size: 15px;
    margin-top: 0px;
    display: flex;
    color: #48110d;
}

#textito {
    margin-bottom: 4px;
    font-size: 13px;
}

.gris {
    background: rgb(222, 222, 222);
    color: black;

}

#secondary{
    display: flex;
    justify-content: end;
    margin-left: 400px;
}

.gris:hover {
    background: rgb(229, 229, 229);
}

.gris:active {
    box-shadow: 1px 1px 1px 1px rgb(233, 233, 233);
}

.azulado3:hover {
    background: #3c77bb;
}

.azulado3:active {
    box-shadow: 1px 1px 1px 1px #3c77bb;
}

.azulado:hover {
    background: #3c77bb;
}

.azulado:active {
    box-shadow: 1px 1px 1px 1px #3c77bb;
}

.cajaBotones button {
    padding: 10px 40px;
    /* Ajusta el padding para hacer los botones más largos */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    /* Ajusta el ancho de los botones */
}

#guardar {
    background-color: #48110d;
    color: white;
}

#cancelar {
    background-color: #E12424;
    color: white;
}


.espacioEntreBotones {
    width: 40px;
    /* Ajusta el ancho del espacio según tus preferencias */
}



.parrafoGris {
    color: gray;
}

input {
    border-radius: 3px;
    border: 1px solid #6d6d6d;
}

.input1 input {
    padding-left: 10px;
    width: 300px;
    height: 50px;
}


.input1 i {
    font-size: 20px;
}

.divImagen {
    border-radius: 10px;
    border: 1px solid #6d6d6d;
    padding: 20px;
    background-color: #ffffff;
}

.contenido2 {
    border-radius: 3px;
    border: 1px solid #b9b9b9;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #f8f8f8;
}

#_id {
    background-color: #ccc;
}




.vinotinto {
    background: #48110d;
    color: white;
    height: 40px;
}

.vinotinto:hover {
    background: #771d17;

}

.vinotinto:active {
    box-shadow: 1px 1px 1px 1px #771d17;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 50px;
}

.icon {
    margin-right: 10px;
    font-size: 20px;
}

.key-icon::before {
    content: "\f084";
    /* Unicode for key icon */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.user-icon::before {
    content: "\f007";
    /* Unicode for user icon */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.input-field {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;

}

#contenedorsitos {
    display: flex;
}

#contenedorsito {
    margin-top: -50px;

}

#cosas {
    margin-left: 60px;
}

.contIzquierdaAbajo {
    margin-top: -35px;
}

.invalid {
    border: 1px solid #E12424;
    box-shadow: 0 0 1px red;
    outline: none;
}

.error {
    color: #E12424;
    display: block;
    font-size: 12px;

}

label {
    display: block;
    /* Hace que el label sea un elemento en bloque para que aparezca por encima del input */
    margin-bottom: 10px;
    /* Agrega un margen inferior para separar el label del input */
}

/* Estilos para el botón de eliminar */
.boton {
    background-color: transparent;
    /* Establece el fondo del botón como transparente */
    border: none;
    /* Elimina el borde del botón */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el botón */

}



.boton:hover {
    background-color: transparent;
    /* Establece el fondo del botón como transparente al pasar sobre él */
}

.tabla {
    border-collapse: collapse;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 20px;
}

.busqueda {
    height: 30px;
    border: none;
    border: 1px solid gray;
    border-radius: 20px;
    width: 500px;
    margin-top: 5px;
}