.titulo {
    display: flex;
    justify-content: space-between;
}

.botonsito {
    display: flex;
    margin-left: auto;
    justify-content: space-evenly;
    padding: 20px;
}

#imagen {
    width: 200px;
    max-height: 200px;
}

.botonAgregar {
    border: 1px solid #b90505;
    margin-right: 20px;
    background-color: white;
    color: #b90505;
    border-radius: 50px;
    height: 40px;
    width: 120px;
    font-size: 18px;
  }
  
  .botonAgregar:hover{
    background: #b905052d;
    color: white;
  
  }


.divFiltro{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.azul {
    background: #1F67B9;
    color: white;
    display: flex;
    justify-content: center;
    width: 150px;
}

.azul:hover {
    background: #3c77bb;
}

.azul:active {
    box-shadow: 1px 1px 1px 1px #3c77bb;
}

.gris {
    background: #a7a7a7;
    color: white;
    display: flex;
    justify-content: center;
    width: 150px;
}

.gris:hover {
    background: #adadad;

}

.gris:active {
    box-shadow: 1px 1px 1px 1px #adadad;
}

.checkbox {
    margin-right: 10px;
}


.cajaBotones {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.cajaBotones button {
    padding: 10px 40px;
    /* Ajusta el padding para hacer los botones más largos */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    /* Ajusta el ancho de los botones */
}

#guardar {
    background-color: #48110d;
    color: white;
}

#cancelar {
    background-color: #1F67B9;
    color: white;
}


.espacioEntreBotones {
    width: 40px;
    /* Ajusta el ancho del espacio según tus preferencias */
}

.gris {
    color: #6d6d6d;
}

.parrafoGris {
    color: gray;
}


.divImagen {
    border-radius: 10px;
    border: 1px solid #6d6d6d;
    padding: 10px;
    background-color: #ffffff;
    margin-top: -20px;
    width: 300px;
}

.contenido2 {
    border-radius: 3px;
    border: 1px solid #b9b9b9;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #f8f8f8;
}

#_id {
    background-color: #ccc;
}


.rojo {
    background: #1F67B9;
    color: white;

}

.rojo:hover {
    background: #3c77bb;
}

.rojo:active {
    box-shadow: 1px 1px 1px 1px #3c77bb;
}

.vinotinto {
    background: #48110d;
    color: white;
}

.vinotinto:hover {
    background: #771d17;

}

.vinotinto:active {
    box-shadow: 1px 1px 1px 1px #771d17;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 50px;
}

.icon {
    margin-right: 10px;
    font-size: 20px;
}

.key-icon::before {
    content: "\f084";
    /* Unicode for key icon */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.user-icon::before {
    content: "\f007";
    /* Unicode for user icon */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.input-field {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 500px;

}

.input-field2 {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 240px;

}

.formulario__grupo2 {
    margin-left: 20px;
}

#contenedorsitos {
    display: flex;
}

#contenedorsito {
    margin-top: -50px;

}

#cosas {
    margin-left: 60px;
}

.contIzquierdaAbajo {
    margin-top: -35px;
}

.invalid {
    border: 1px solid #1F67B9;
    box-shadow: 0 0 1px red;
    outline: none;
}

.error {
    color: #1F67B9;
    display: block;
    font-size: 12px;

}

label {
    display: block;
    /* Hace que el label sea un elemento en bloque para que aparezca por encima del input */
    margin-bottom: 10px;
    /* Agrega un margen inferior para separar el label del input */
}

/* Estilos para el botón de eliminar */
.boton {
    background-color: transparent;
    /* Establece el fondo del botón como transparente */
    border: none;
    /* Elimina el borde del botón */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el botón */
}

.boton:hover {
    background-color: transparent;
    /* Establece el fondo del botón como transparente al pasar sobre él */
}

.tabla {
    border-collapse: collapse;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 20px;
}


.busqueda {
    height: 30px;
    border: none;
    border: 1px solid gray;
    border-radius: 20px;
    width: 500px;
}