body{
  margin: 0px;
}

.contenedor_1 {
  margin-left: 10px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

#luchosoft {
  margin-left: 20px;
  color: #b90505;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 25px;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.centrar {
  align-items: flex-end;
  margin-left: 10px;
  margin-top: 18px;
  justify-content: center;
}

.parrafo1 {
  margin-right: -100px;
}


.barraPrincipal {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border: 1px solid #b90505;
  height: 9vh;
  align-content: end;
}

.contenedor {
  display: flex;
}

.barraLateral {
  flex: 2;
  /* Ocupa 4/5 del ancho disponible */
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: 91vh;
  border-top: 10mm chocolate;
  background-color: white;
}

.contenido {
  flex: 12;
  /* Ocupa 1/5 del ancho disponible */
  padding: 20px;
  color: rgb(0, 0, 0);
  border-left: 1px solid #b90505;
  background-color: white;
}

/*Menu------------------------------------------------------------------------------------------------------------------*/

.sidebar {
  width: 200px;
  color: white;
}

.module {
  padding: 10px;
}

.module-heading {
  margin: 0;
  padding: 10px;
  cursor: pointer;
  background-color: #ffffff;
  /* Color de fondo para el encabezado del módulo */
  color: rgb(138, 137, 137);
  /* Color del texto del encabezado del módulo */
  border-radius: 5px;
  /* Bordes redondeados */
  font-size: 15px;
  /* Cambia el tamaño de fuente a 18px */
}


.module-heading:hover,
.module-heading.selected {
  background-color: #b9050517;
  color: #b90505;
}

.options {
  list-style: none;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  margin-left: 20px;
  display: none;
}

.options.active {
  display: block;
  border-left:2px solid #e5e3ed;
}

.options li {
  padding: 5px;
  background-color: white;
  ;
  color: rgb(138, 137, 137);
  border-radius: 5px;
  margin-bottom: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.options li:hover,
.options li.selected {
  background-color: #b9050517;
  color: #b90505;
}


.usuario-link img {
  margin-top: 8px;
  margin-right: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.module-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-icon {
  transition: transform 0.3s;
}

.module-heading.selected .arrow-icon {
  transform: rotate(90deg);
}

.yellow-underline {
  color: #FAC710;
  text-decoration: underline;
  cursor: pointer;
}

a {
  color: black;
  /* Cambia el color del texto a negro */
  text-decoration: none;
  /* Elimina el subrayado del texto */
}


.boton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.boton p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.iconosRojos {
  color: #E12424;
}

.iconosVerdes {
  color: #21d424;
}

.iconosNaranjas {
  color: #ffbd2f;
  cursor: pointer;
}

.iconosAzules {
  color: #1F67B9;
}


/* Estilo de las celdas de encabezado */
.tablaDT th {
  background-color: #f2f2f2;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

/* Estilo de las celdas de datos */
.tablaDT td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}