

.cajaBotones {

    display: flex;
    justify-content: space-evenly;
    min-width: 130px;
    margin-top: -30px;
  
  }

  .inputfield2 {

    border: 1px solid #ccc;
    border-radius: 5px;
    width: 350px;
    height: 40px;

    
    max-width: 280px;
    display: flex;
    justify-content: end;
    margin-right: 50px;
   
  }
  
  .contenedor-input{
    max-Width: "170px";
    margin-top: -50px;
  }
  
  .contenido- {
    display: flex;
  
  
  
  }
  .fixed-button {
    position: fixed;
    bottom: 20px; /* Ajusta la distancia desde la parte inferior según sea necesario */
    right: 203px; /* Ajusta la distancia desde el borde derecho según sea necesario */
    z-index: 999; /* Asegúrate de que esté por encima de otros elementos */
  
  }
  
  
  
  #contenedorcito {
    display: flex;
    justify-content: center;
  }
  
  .tabla-detalle {
  
    width: 700px;
  }
  
  .input-field-tabla {
    padding: 0px;
   
    border-radius: 5px;
    width: 150px;
    display: flex;
  
    height: 27px;
    border: 1px solid #ccc;
    justify-content: start;
    margin-left: 35px;
   
   
  }
  
  
  
  
  .input-field {
    padding: 0px;
   
    border-radius: 5px;
    width: 150px;
    display: flex;
    padding: 10px;
    height: 55px;
    border: 1px solid #ccc;
    justify-content: start;
    margin-right: 20px;
   
   
  }
  
  
  
  .input-field2 {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 350px;
    height: 55px;
    padding: 10px;
    max-width: 280px;
    display: flex;
    justify-content: end;
    margin-right: 30px;
    margin-top: -10px;
   
  }
  
  .input-field3 {
    padding: 10px;
    max-width: 500px;
    border-radius: 5px;
    width: 80px;
    display: flex;
    padding: 10px;
    height: 55px;
    border: 1px solid #ccc;
    justify-content: start;
    margin-right: 20px;
    
    
  }
  
  .input-field4 {
    padding: 0px;
   
    border-radius: 5px;
    width: 115px;
    display: flex;
    padding: 10px;
    height: 55px;
    border: 1px solid #ccc;
    justify-content: start;
    margin-right: 20px;
   
   
  }
  
  
  
  .bot-x {
    background: #b91f1f;
    color: white;
    height: 30px;
    min-width: 30px;
    margin-left: 20%;
    border-radius: 50px;
    border-color: white;
  }
  
  .bot-x:hover {
    background: #d33b3b;
  }
  
  .bot-x:active {
    box-shadow: 1px 1px 1px 1px #d33b3b;
  }
  
  .boton {
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    text-decoration: none;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    display: inline-block;
    color: #FFF;
    padding: 15px 15px;
    white-space: nowrap;
    border-radius: 5px;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
  
  #titulo {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: start;
    font-size: 25px;
  }
  
  
  
  .azulado2 {
    background: #1F67B9;
    color: white;
    height: 55px;
    max-width: 120px;
    min-width: 120px;
    margin-left: 20%;
    margin-top: 34px;
  }
  
  .azulado2:hover {
    background: #3c77bb;
  }
  
  .azulado2:active {
    box-shadow: 1px 1px 1px 1px #3c77bb;
  }
  
  
  
  .azulado3 {
    background: #1F67B9;
    color: white;
    height: 55px;
    max-width: 120px;
    min-width: 120px;
    margin-left: 20%;
    margin-top: 0px;
  }
  
  .azulado3:hover {
    background: #3c77bb;
  }
  
  .azulado3:active {
    box-shadow: 1px 1px 1px 1px #3c77bb;
  }
  
  .gris {
    background: rgb(128, 128, 128);
    min-width: 120px;
  
  }
  
  .gris:hover {
    background: rgb(146, 146, 146);
  }
  
  .gris:active {
    box-shadow: 1px 1px 1px 1px rgb(146, 146, 146);
  }
  
  .espacioEntreBotones {
    width: 40px;
  }
  
  .inputs-up {
    display: flex;
    align-items: start;
  
  }
  
  .inputs-down {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 20px;
    margin-right: -40px;
  }
  
  .tabla-compras {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .tabla-compras th,
  .tabla-compras td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
  }
  
  .pagination__item {
    margin: 0 5px;
  }
  
  .formulario {
    margin-left: 20px;
    max-width: 480px;
    
  }
  
  /* CSS */
  .thead-fixed {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #1F67B9;
    color: white;
  }
  
  
  
  
  .pagination__link {
    padding: 8px 12px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    color: #333;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pagination__link:hover {
    background-color: #e0e0e0;
  }
  
  .pagination__link--active {
    background-color: #007bff;
    color: #fff;
  }
  
  .formulario {
    margin-left: 20px;
    max-width: 480px;
    
  }
