.botonsito {
    display: flex;
    margin-left: auto;
    padding: 50px 50px;
}

.botonAgregar {
  border: 1px solid #b90505;
  margin-right: 20px;
  background-color: white;
  color: #b90505;
  border-radius: 50px;
  height: 40px;
  width: 120px;
  font-size: 18px;
}

.BotonesClientes {
  display: flex;
  justify-content: center;

  margin-top: 10px;

}

.BotonesClientes button {
  height: 45px;
  width: 100px;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 10px;
  border: none;

}

.descargar {
    margin-left: 100px;
    height: 50px;
    width: 55px;
    margin-top: 5px;
}

.divFiltro{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.vinotinto {
  background: #48110d;
  color: white;
  height: 40px;
  width: 50px;

  /* Establece el fondo del botón como transparente */
  border: none;
  /* Elimina el borde del botón */
  cursor: pointer;
  /* Cambia el cursor al pasar sobre el botón */

  border-radius: 100px;
}

.vinotinto:hover {
    background: #771d17;
}

.vinotinto:active {
    box-shadow: 1px 1px 1px 1px #771d17;
}


.azulado {
  background-color: #1F67B9;
  color: #ffffff;

}

.azulado:hover {
  background: #3c77bb;
}

.azulado:active {
  box-shadow: 1px 1px 1px 1px #3c77bb;
}

.botonRojo {
    background-color: #E12424;
    color: white;
    height: 50px;
    width: 180px;
    margin-left: 20%;
    margin-bottom: 20px;
}

.rojo:hover {
  background: #b9050517;
}

.rojo:active {
  box-shadow: 1px 1px 1px 1px #b9050517;
}


.botonMorado {
    background-color: #722F37;
    color: white;
    height: 50px;
    width: 180px;
    margin-left: 20%;
    margin-bottom: 20px;
}

.checkbox {
    margin-right: 10px;
}
.botones {

    margin-left: 87vh;


    margin-bottom: -90px;
}

.cajaBotones {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.cajaBotones button {
    padding: 10px 40px;
    /* Ajusta el padding para hacer los botones más largos */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    /* Ajusta el ancho de los botones */
}

#guardar {
    background-color: #48110d;
    color: white;
}

#cancelar {
    background-color: #E12424;
    color: white;
}


.espacioEntreBotones {
    width: 40px;
    /* Ajusta el ancho del espacio según tus preferencias */
}

.azulado3 {
    background: #1F67B9;
    color: white;
    height: 45px;
    max-width: 120px;
    min-width: 120px;
    display: flex;
    text-align: center;

  }

  .input-field {
    padding: 0px;
   
    border-radius: 5px;
    width: 150px;
    display: flex;
    padding: 10px;
    height: 55px;
    border: 1px solid #ccc;
    justify-content: start;
    margin-right: 20px;
   
   
  }
  
  
  
  .inputfield2 {

    border: 1px solid #ccc;
    border-radius: 5px;
    width: 350px;
    height: 40px;

    
    max-width: 280px;
    display: flex;
    justify-content: end;
    margin-right: 50px;
   
  }
  
  .input-field3 {
    padding: 10px;
    max-width: 500px;
    border-radius: 5px;
    width: 80px;
    display: flex;
    padding: 10px;
    height: 55px;
    border: 1px solid #ccc;
    justify-content: start;
    margin-right: 20px;
    
    
  }
  
  .input-field4 {
    padding: 0px;
   
    border-radius: 5px;
    width: 115px;
    display: flex;
    padding: 10px;
    height: 55px;
    border: 1px solid #ccc;
    justify-content: start;
    margin-right: 20px;
   
   
  }
  
  .azulado3:hover {
    background: #3c77bb;
  }
  
  .azulado3:active {
    box-shadow: 1px 1px 1px 1px #3c77bb;
  }

  .gris {
    background: rgb(222, 222, 222);
    color: black;
  
  }
  
  
  .gris:hover {
    background: rgb(229, 229, 229);
  }
  
  .gris:active {
    box-shadow: 1px 1px 1px 1px rgb(233, 233, 233);
  }

.parrafoGris {
    color: gray;
}

input {
    border-radius: 3px;
    border: 1px solid #6d6d6d;
}

.input1 input {
    padding-left: 10px;
    width: 300px;
    height: 50px;
}


.input1 i {
    font-size: 20px;
}

.divImagen {
    border-radius: 10px;
    border: 1px solid #6d6d6d;
    padding: 20px;
    background-color: #ffffff;
}

.contenido2 {
    border-radius: 3px;
    border: 1px solid #b9b9b9;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #f8f8f8;
}

#_id {
    background-color: #ccc;
}





.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 50px;
}

.icon {
    margin-right: 10px;
    font-size: 20px;
}

.key-icon::before {
    content: "\f084";
    /* Unicode for key icon */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.user-icon::before {
    content: "\f007";
    /* Unicode for user icon */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}



#contenedorsitos {
    display: flex;
}

#contenedorsito {
    margin-top: -50px;

}

#cosas {
    margin-left: 60px;
}

.contIzquierdaAbajo {
    margin-top: -35px;
}

.invalid {
    border: 1px solid #E12424;
    box-shadow: 0 0 1px red;
    outline: none;
}

.inputInvalido {
  border: 1px solid red;
  /* background-color: #f5c1c1; */
}

.error {
  display: flex;
  position:fixed
}

label {
    display: block;
    /* Hace que el label sea un elemento en bloque para que aparezca por encima del input */
    margin-bottom: 10px;
    /* Agrega un margen inferior para separar el label del input */
}

/* Estilos para el botón de eliminar */
.boton {
    background-color: transparent;
    /* Establece el fondo del botón como transparente */
    border: none;
    /* Elimina el borde del botón */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el botón */

}

.boton:hover {
    background-color: transparent;
    /* Establece el fondo del botón como transparente al pasar sobre él */
}

.tabla {
    border-collapse: collapse;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 20px;
}

.busqueda {
  height: 30px;
  border: none;
  border: 1px solid gray;
  border-radius: 20px;
  width: 500px;
  margin-top: 5px;
}

.conosRojos {
    color: #E12424;
  }
  
  
  .botonRojo {
    background-color: #E12424;
    color: white;
    height: 50px;
    width: 180px;
    margin-top: 20px;
    margin-left: 70%;
    margin-bottom: -30px;
  }
  
  .boton-morado {
    background-color: #E12424;
    color: white;
  
  }
  
  
  #contenedorcito {
    display: flex;
    justify-content: center;
  
  
  }
  
  
  #kaka {
    display: flex;
    flex-direction: column;
  
  
  }
  
  .containerx {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .iconx {
    margin-right: 10px;
    font-size: 20px;
  }
  
  .lightbulb-icon::before {
    content: "\f0eb";
    /* Unicode for lightbulb icon */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }
  
  .checkbox-label {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
  .checkbox-label input[type="checkbox"] {
    margin-right: 5px;
  }
  
  
  table {
    border-collapse: collapse;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px auto;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
    padding: 10px;
    text-align: left;
  }
  
  td {
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  .checkbox {
    margin-right: 10px;
  }
  
  #fondotabla {
    background-color: #E12424;
    display: flex;
    justify-content: center;
    font-style: #E12424;
  }
  
  
  
  .input-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  
  }
  
  .inputIdNombre {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-between;
    margin-left: 50px;
  
  }
  
  .icon {
    margin-right: 10px;
    font-size: 20px;
  }
  
  .key-icon::before {
    content: "\f084";
    /* Unicode for key icon */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }
  
  .user-icon::before {
    content: "\f007";
    /* Unicode for user icon */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }
  

  
  .input2 {
    padding: 15px;
    border-radius: 5px;
    width: 160px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  
  
  #seleccionarpermisos {
    margin-left: 50px;
    margin-right: 50px;
  }
  
  
  #botonfinal {
    position: absolute;
    padding: 12px 40px;
    font-size: 16px;
    margin-left: 100px;
  
  }
  
  
  #botonfinal2 {
    position: absolute;
    padding: 12px 40px;
    font-size: 16px;
    margin-right: 300px;
  
  }
  
  
  .espacio {
    width: 88px;
  }
  
  
  
  .cajaBotones {
    display: flex;
    justify-content: center;
  }
  
  .cajaBotones button {
    padding: 10px 40px;
    /* Ajusta el padding para hacer los botones más largos */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
    /* Ajusta el ancho de los botones */
  }
  
  
  
  
  .espacioEntreBotones {
    width: 40px;
    /* Ajusta el ancho del espacio según tus preferencias */
  }
  
  #kaka {
    margin-right: 60px;
  
  }
  
  #contenedorregistroroles {
    display: flex;
  }
  
  #contenedorregistroroles {
    margin-left: 270px;
    margin-top: -50px;
  }
  
  #contenedorsitos {
    display: flex;
  
  
  }
  
  #contenedorsito {
    display: flex;
    justify-content: center;
    /* Centra los elementos hijos horizontalmente */
    align-items: center;
    /* Centra los elementos hijos verticalmente */
    flex-direction: column;
    /* Establece la disposición de los elementos hijos en columnas */
  }
  
  
  .contenido2 {
    border-radius: 3px;
  
    margin-left: 200px;
    margin-right: 200px;
  
    background-color: #f2f2f2;
    border: 1px solid #b9b9b9;
    border-radius: 10px;
    background-color: #f8f8f8;
  }
  
  
  


  
  
  /* #bordegris{
    position:absolute;
    border: 1px solid #b9b9b9;
    width: 500px;
    height: 660px;
    margin-left: 225px;
    margin-top: -60px;
  } */
  
  
  .fa-message {
    margin-left: -160px;
  }
  
  .fa-font {
    margin-left: -160px;
  }
  
  .key-icon {
    margin-left: -160px;
  }
  
  #textito {
    margin-bottom: 4px;
    font-size: 13px;
  }

  #titulo {
    font-size: 15px;
    margin-top: 0px;
    display: flex;
    color: #48110d;
  }
  
  #tabla-contenedor {
    width: 300px;
    max-height: 200px;
    /* Altura máxima deseada */
    overflow: hidden;
    /* Oculta el desbordamiento */
  
    border-radius: 5px;
    margin: 20px auto;
  
  }
  
  #tablita {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    /* Fijar el ancho de la tabla */
  }
  
  #tablita thead th {
    background-color: #E12424;
    font-weight: bold;
    padding: 10px;
    text-align: left;
  }
  
  #tablita tbody {
    max-height: 125px;
    /* Altura máxima deseada para el tbody */
    display: block;
    /* Establece un contexto de bloque para el tbody */
    overflow-y: scroll;
    /* Habilita la barra de desplazamiento en el tbody */
    background-color: rgb(255, 255, 255);
  }
  
  #tablita tbody td {
    width: 1%;
    padding: 10px;
    border-top: 1px solid #ddd;
  
  }
  
  
  .tablitaMarginRight {
    margin-right: 142px;
  }
  
  #divTabla {
    margin-left: 10px;
    margin-right: 30px;
  }
  
  /* Estilos para el botón de eliminar */
  .boton {
    background-color: transparent; /* Establece el fondo del botón como transparente */
    border: none; /* Elimina el borde del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  }
  
  .boton:hover {
    background-color: transparent; /* Establece el fondo del botón como transparente al pasar sobre él */
  }
  
  .tabla{
    border-collapse: collapse;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 20px;
  }
  
