.pagina-enter {
  opacity: 0;
  transform: translateX(100%);
}

.pagina-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 1000ms, transform 1000ms; /* Aumenta el tiempo de transición */
}

.pagina-exit {
  opacity: 1;
  transform: translateX(0%);
}

.pagina-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1000ms, transform 1000ms; /* Aumenta el tiempo de transición */
}


#iconoEditar {
  margin-top: -30px;
  margin-left: 80px;
  font-size: 30px;
  color: #1F67B9;
}

.contenido{
  margin-top: 10vh;
}



#perfil {
  margin-top: 8px;
}

#usuarioRegistrado {
  margin-top: 1vh;
}

#contenidoDatos {
  border-radius: 5px;
  border: 1px solid #6d6d6d;
  padding: 10px;
}

#contenidoDatos i {
  margin-right: 10px;
  color: #1F67B9;
}

#datos {
  width: 70%;
  /* Ajusta el ancho según lo necesites */
  margin: 0 auto;
  /* Centra horizontalmente */
  padding: 10px;
  /* Agregamos un poco de espacio interno */
}

#titulo {
  color: white;
}

#tituloDatos {
  margin-bottom: 10px;
}

#botones {
  text-align: right;
  /* Alinea los botones a la derecha */
  margin-top: 30px;
  /* Agrega espacio entre el contenido y los botones */
}

.btn-rojo {
  background-color: #1F67B9;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.btn-rojo-claro {
  background-color: #722F37;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.divActualizarContraseña {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2dc;
}

.divActualizarContraseña h2 {
  margin-bottom: 0px;

}

.divActualizarContraseña form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-group {
  display: flex;
  flex-direction: column;
}


.input-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cajaBotonesRegistro {
  margin-left: 10vh;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.cajaBotonesRegistro button {
  padding: 10px 30px;
  /* Ajusta el padding para hacer los botones más largos */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 300px;
  /* Ajusta el ancho de los botones */
}



.cajaBotonesRecuperar {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.cajaBotonesRecuperar button {
  padding: 10px 30px;
  /* Ajusta el padding para hacer los botones más largos */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 45%;
  /* Ajusta el ancho de los botones */
}

a .grisL{
  text-decoration: none;
  /* Elimina el subrayado del texto */
  width: 200px;
  margin-left: 10px;
  justify-content: center;
}


.rojo {
  background: #1F67B9;
  color: white;
  width: 900px;
}

.rojo:hover {
  background: #3c77bb;
}

.rojo:active {
  box-shadow: 1px 1px 1px 1px #3c77bb;
}

.grisL {
  background: #a7a7a7;
  color: white;
  display: flex;
}

.grisL:hover {
  background: #adadad;

}

.grisL:active {
  box-shadow: 1px 1px 1px 1px #adadad;
}

.vinotinto {
  background: #48110d;
  color: white;
}

.vinotinto:hover {
  background: #771d17;

}

.vinotinto:active {
  box-shadow: 1px 1px 1px 1px #771d17;
}